@inject DialogService DialogService
@using InVision.Data;
@using InVision.Data.Model
@inject InVision.Data.Service.CalendarService calendarService
@inject ILocalStorageService localstore
@attribute [Authorize]

<RadzenTemplateForm TItem="Appointment" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Text" />
        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@model.Text" Name="Text" />
            <RadzenRequiredValidator Text="Title is required" Component="Text" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
            <RadzenRequiredValidator Text="Start is required" Component="Start" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="End" />
        </div>
        <div class="col">
            <RadzenDatePicker Name="End" @bind-Value="@model.End" ShowTime="true" />
            <RadzenRequiredValidator Component="End" Text="End is required" />
        </div>
    </div>    
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Color" />
        </div>
        <div class="col">
            <RadzenColorPicker Name="Color" @bind-Value=@model.Color ShowHSV=@showHSV ShowRGBA=@showRGBA ShowColors=@showColors ShowButton=@showButton Change=@OnChange />
        </div>
    </div>


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>
@code {

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public DateTime Start { get; set; }

    [Parameter]
    public DateTime End { get; set; }

    [Parameter]
    public string Color { get; set; }

    string userId = "";

    Appointment model = new Appointment();

    bool showHSV = true;
    bool showRGBA = true;
    bool showColors = true;
    bool showButton = false;


    void OnChange(string value)
    {
        Console.WriteLine("Color changed");
    }

    protected override void OnParametersSet()
    {
        model.Text = Text;
        model.Start = Start;
        model.End = End;
        //Added a nullcheck because the default color is null and the appointment isn't saved if the color is null
        if (Color != null)
        {
            model.Color = Color;
        }
        else
        {
            //If the default color is picked it will be the signature website color 
            model.Color = "3700b3";
        }
    }

    async void OnSubmit(Appointment model)
    {
        userId = await localstore.GetItemAsync<string>("UserId");
        await calendarService.CreateAppointmentAsync(userId, model);
        DialogService.Close(model);
    }
}