@inject DialogService DialogService
@using InVision.Data
@using InVision.Data.Model


<RadzenTemplateForm TItem="Note" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Title" />
        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@model.Title" Name="Title" />
            <RadzenRequiredValidator Text="Title is required" Component="Title" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>

@code {
    [Parameter]
    public string Title { get; set; }


    Note model = new Note();

    protected override void OnParametersSet()
    {
        model.Title = Title;
    }

    void OnSubmit(Note model)
    {
        DialogService.Close(model);
    }
}