@page "/"
@layout LoginLayout
@inject NavigationManager NavManager
@inject InVision.Data.Service.UserService userservice 
@inject Blazored.LocalStorage.ILocalStorageService localstore
@inject CustomAuthenticationStateProvider customAuthStateProvider
@using InVision.Authentication
@using InVision.Data.Model


<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 600px;">
    <div style="text-align:center;">
        <h2>Sign In</h2>
    </div>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-p-sm-7">

        <div style="text-align:center">
            <RadzenTemplateForm TItem="User" Data=@user Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
                <RadzenFormField Text="E-Mail" Variant="Variant.Flat" style="width: 300px; margin-bottom:25px;">
                    <ChildContent>
                        <RadzenTextBox Name="email" @bind-Value="emailValue" />
                        <RadzenRequiredValidator Component="email" Text="email field is empty" Popup=true Style="margin-top: 50px" />
                    </ChildContent>
                </RadzenFormField>

                <RadzenFormField Text="Password" Variant="Variant.Flat" style="width: 300px; margin-bottom:25px;">
                    <ChildContent>
                        <RadzenPassword Name="password" @bind-Value="passwordValue" />
                        <RadzenRequiredValidator Component="password" Text="password field is empty" Popup=true Style="margin-top: 50px" />
                    </ChildContent>
                </RadzenFormField>
                <RadzenStack JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
                    <RadzenButton ButtonType="ButtonType.Submit" Click="LoginUser" style="width: 150px">Login</RadzenButton>
                </RadzenStack>
            </RadzenTemplateForm>
        </div>
    </RadzenStack>
    <br />
    <div style="text-align:center;">
        <p>Dont have an account? </p>
        <RadzenLink Path="/register"> Register! </RadzenLink>
    </div>
</RadzenCard>

@code {
    User user = new User();

    bool emailValid = false;
    bool passwordValid = false;

    string passwordValue = "";
    string emailValue = "";


    void OnSubmit()
    {
        emailValid = true;
        passwordValid = true;
        Console.WriteLine("valid submit");
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        emailValid = false;
        passwordValid = false;
        Console.WriteLine("invalid submit");
    }



    async Task LoginUser()
    {
        bool loginSuccessful = await userservice.LoginUser(emailValue, passwordValue);
        if (loginSuccessful)
        {
            Console.WriteLine("Valid");
            user = await userservice.GetUserByEmail(emailValue);
            await localstore.SetItemAsync("UserId", user.Id);
            await customAuthStateProvider.UpdateAuthenticationState(new UserSession
                {
                    UserName = user.Name,
                    Role = user.Role
                });
            NavManager.NavigateTo("/index", true);
        }
        else
        {
            Console.WriteLine("invalid submit");
        }
    }
}

