@page "/notes"
@using InVision.Data
@inject KBoardService service
@inject NavigationManager NavManager
@inject DialogService DialogService

<RadzenPanel>
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.H4" Text="@note.Title" Class="rz-display-flex rz-align-items-center rz-m-0" contenteditable="true" />
        <RadzenIcon Icon="more_horiz" Style="cursor: pointer; padding-right: 20px; font-size: 2em" class="add-todoitem-icon"></RadzenIcon>
    </HeaderTemplate>
    <ChildContent>
        <hr />
        <RadzenHtmlEditor @bind-Value=@note.Content style="height: 80vh;" /> <!-- Adjust 50px according to your header height -->
    </ChildContent>
</RadzenPanel>

@code {
    public Note note = new Note();

    protected override async Task OnInitializedAsync()
    {
        note.Title = "Toller Titel haha";
        note.Content = "<h1>Hello World!</h1>";
    }
}
