@page "/note"
@using InVision.Data
@inject KBoardService service
@inject NavigationManager NavManager
@inject DialogService DialogService
@inject MatIconService IconService
@inject NoteService NoteService

<RadzenPanel>
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.H4" Text="@note.Title" Style="max-width: 90%" contenteditable="true" />
        <RadzenIcon Icon="@NoteService.selectedNote.Icon" Style="padding-right: 20px; font-size:2em"></RadzenIcon>
        <RadzenIcon @onclick="()=>OpenSideDialog()" Icon="more_horiz" Style="cursor: pointer; padding-right: 20px; font-size: 2em" class="add-todoitem-icon"></RadzenIcon>
    </HeaderTemplate>
    <ChildContent>
        <hr />
        <RadzenHtmlEditor @bind-Value=@note.Content style="height: 80vh;" UploadUrl="upload/image" />
    </ChildContent>
</RadzenPanel>

@code {

    [Parameter]
    public string noteId { get; set; }

    public Note note = new Note();
    public string? selectedIcon;

    DialogPosition position;
    bool closeDialogOnOverlayClick;
    bool showMask;

    async Task OpenSideDialog()
    {
        await DialogService.OpenSideAsync<IconSelectDialog>("",options: new SideDialogOptions { CloseDialogOnOverlayClick = closeDialogOnOverlayClick, Position = position, ShowMask = showMask });
    }

    protected override async Task OnInitializedAsync()
    {
        note.Title = NoteService.selectedNote.Title;
        note.Content = "<h1>Hello World!</h1>";

        selectedIcon = IconService.GetSelectedIcon();
    }
}
