@inherits LayoutComponentBase
<RadzenDialog></RadzenDialog>
<RadzenNotification></RadzenNotification>
<RadzenContextMenu></RadzenContextMenu>
<RadzenTooltip></RadzenTooltip>

<PageTitle>InVision</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
